*,
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);

}

body {
  background: wheat;
  /* transform: translateZ(0) scale(1); */
  background-image: linear-gradient(#ff71c0, #DC7AE0, #b983ff);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  /* width: 100vw; */
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* display: block; */
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: white;
  font-weight: bold;
  padding: 50px 30px;
  margin: 40px 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
}


img {
  width: 80px;
  height: 80px;
}

.material-icons-sharp {
  color: red;
  font-size: 100px;
  transform: translateY(5px);
  animation: kenyal 2s ease infinite;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: kenyal;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;

  cursor: pointer;
}

@keyframes kenyal {
  0% {
    transform: scale(1) translateY(5px);
  }

  50% {
    transform: scale(1.2) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(5px);
  }
}